/* Google font: IBM Plex Mono 400 & 600 & 700 weight */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600;700&display=swap');

:root {
    /* Colors */
    --black-color: #323232;

    /* Font variables */
    --font-family: "IBM Plex Mono", monospace;

    /* Rounded corners */
    --rounded-corner: 5px;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    font-family: var(--font-family);
    color: var(--black-color);
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
    margin: 0;
}

main {
    margin: 0;
    padding: 25px;
    border-radius: var(--rounded-corner);
    background: #eeeeee;
}

#image-div {
    background: white;
    border-radius: var(--rounded-corner);
    padding: 10px;
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
    border: 1px solid grey;
    border-radius: var(--rounded-corner);
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

figcaption {
    margin-top: 5px;
    text-align: left;
    font-size: 1rem;
}